<section class="bg-white dark:bg-gray-900">
  <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
      <div class="max-w-screen-lg text-gray-500 sm:text-lg dark:text-gray-400">
          <h2 class="mb-4 text-4xl tracking-tight font-bold text-gray-900 dark:text-white">What?</h2>
          <p class="mb-4 font-light">The Cyber Resilience Act (CRA) is an EU regulation proposed in 2022 by the for improving cybersecurity and cyber resilience through common cybersecurity standards, for products with hardware and software whose intended and foreseeable use includes a data connection to a device or network.</p>
          <p class="mb-4 font-light">Do you love reading obscure legislative text about upcoming tech policies that may affect your open source work? Find your people here with this new online series focused on doing a deep-dive read through of the CRA paired with a casual panel-style discussion between open source builders and mainatiners. We'll be collecting feedback and questions on a Github repo for packaging and presentation at the Eclipse Foundation's Regulatory Compliance WG.</p>
    <p class="mb-4 font-light">We have about 2 years to get ahead of the requirements. We’d love to talk through the annoyances that projects could feel, possible work being asked for by companies that are consumers of your projects, and we are most excited about the potential opportunity for the projects to make the money instead of third party vendors around the upcoming “obligations”.</p>
          <a href="https://lu.ma/lx3hljhl" class="inline-flex items-center font-medium text-primary-medium hover:text-primary-dark dark:text-primary-500 dark:hover:text-primary-700">
              Register now
              <svg class="ml-1 w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
          </a>
      </div>
  </div>
</section>
