---
import Twitter from "../../components/svg/Twitter.astro"
import Github from "../../components/svg/Github.astro"
---

<section class="bg-white dark:bg-gray-900">
  <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16 lg:px-6">
      <div class="mx-auto mb-8 max-w-screen-lg lg:mb-16">
          <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Panel Guests</h2>
          <p class="mb-2 font-light text-gray-500 sm:text-xl dark:text-gray-400">Every week, Ashley and Tracy will be joined by a set of prolific open source maintainers who will share their raw reactions, opinions, and feedback as we dig through the implications of this new legislation.</p>
          <p class="mb-2 font-light text-gray-500 sm:text-xl dark:text-gray-400">Interested in being a panelist? <a class="text-primary-medium" href="mailto:hello@axo.dev">Get in touch!</a></p>
      </div> 
      <div class="grid gap-8 lg:gap-16 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
          <div class="text-center text-gray-500 dark:text-gray-400">
              <img class="mx-auto mb-4 w-36 h-36 rounded-full" src="/guests/ag_dubs.jpeg" alt="Ashley Avatar">
              <h3 class="mb-1 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                  <a href="#">Ashley Williams</a>
              </h3>
              <p>Founder <a href="https://axo.dev/">axodotdev</a>, maintainers of <a href="https://github.com/axodotdev/cargo-dist">cargo-dist</a>; Former Rust Core</p>
              <ul class="flex justify-center mt-4 space-x-4">
                  <li>
                      <a href="https://x.com/ag_dubs" class="text-[#00acee] hover:text-gray-900 dark:hover:text-white">
                        <Twitter />
                      </a>
                  </li>
                  <li>
                      <a href="https://github.com/ashleygwilliams" class="text-gray-900 hover:text-gray-900 dark:hover:text-white dark:text-gray-300">
                        <Github />
                      </a>
                  </li>
              </ul>
          </div>
          <div class="text-center text-gray-500 dark:text-gray-400">
              <img class="mx-auto mb-4 w-36 h-36 rounded-full" src="/guests/tracyhinds.jpeg" alt="tracy Avatar">
              <h3 class="mb-1 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                  <a href="#">Tracy Hinds</a>
              </h3>
              <p>CFO <a href="https://opensource.org/">Open Source Initiative (OSI)</a></p>
              <ul class="flex justify-center mt-4 space-x-4">
                  <li>
                      <a href="https://x.com/hackygolucky" class="text-[#00acee] hover:text-gray-900 dark:hover:text-white">
                        <Twitter />
                      </a>
                  </li>
                  <li>
                      <a href="https://github.com/hackygolucky" class="text-gray-900 hover:text-gray-900 dark:hover:text-white dark:text-gray-300">
                        <Github />
                      </a>
                  </li>
              </ul>
          </div>
          <div class="text-center text-gray-500 dark:text-gray-400">
              <img class="mx-auto mb-4 w-36 h-36 rounded-full" src="/guests/mcollina.jpeg" alt="mcollina Avatar">
              <h3 class="mb-1 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                  <a href="#">Matteo Collina</a>
              </h3>
              <p>Co-Founder & CTO <a href="https://platformatic.dev/">Platformatic</a>; maintainer of <a href="https://github.com/fastify/fastify">Fastify</a>; <a href="https://github.com/nodejs/node#tsc-technical-steering-committee">Node.js TSC</a></p>
              <ul class="flex justify-center mt-4 space-x-4">
                  <li>
                      <a href="https://x.com/luis_in_brief" class="text-[#00acee] hover:text-gray-900 dark:hover:text-white">
                        <Twitter />
                      </a>
                  </li>
                  <li>
                      <a href="https://github.com/tieguy" class="text-gray-900 hover:text-gray-900 dark:hover:text-white dark:text-gray-300">
                        <Github />
                      </a>
                  </li>
              </ul>
          </div>
          <div class="text-center text-gray-500 dark:text-gray-400">
              <img class="mx-auto mb-4 w-36 h-36 rounded-full" src="/guests/charliemarsh.jpeg" alt="charlie Avatar">
              <h3 class="mb-1 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                  <a href="#">Charlie Marsh</a>
              </h3>
              <p>Founder & CEO <a href="https://astral.sh/">Astral</a>, maintainers of <a href="https://github.com/astral-sh/ruff">ruff</a> and <a href="https://github.com/astral-sh/uv">uv</a></p>
              <ul class="flex justify-center mt-4 space-x-4">
                  <li>
                      <a href="https://x.com/charliermarsh" class="text-[#00acee] hover:text-gray-900 dark:hover:text-white">
                        <Twitter />
                      </a>
                  </li>
                  <li>
                      <a href="https://github.com/charliermarsh" class="text-gray-900 hover:text-gray-900 dark:hover:text-white dark:text-gray-300">
                        <Github />
                      </a>
                  </li>
              </ul>
          </div>
          <div class="text-center text-gray-500 dark:text-gray-400">
              <img class="mx-auto mb-4 w-36 h-36 rounded-full" src="/guests/williammorgan.jpeg" alt="William Avatar">
              <h3 class="mb-1 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                  <a href="#">William Morgan</a>
              </h3>
              <p>CEO <a href="https://buoyant.io/">Buoyant</a>, maintainers of <a href="https://github.com/linkerd/linkerd2">linkerd</a></p>
              <ul class="flex justify-center mt-4 space-x-4">
                  <li>
                      <a href="https://x.com/wm" class="text-[#00acee] hover:text-gray-900 dark:hover:text-white">
                        <Twitter />
                      </a>
                  </li>
                  <li>
                      <a href="https://github.com/wmorgan" class="text-gray-900 hover:text-gray-900 dark:hover:text-white dark:text-gray-300">
                        <Github />
                      </a>
                  </li>
              </ul>
          </div>
          <div class="text-center text-gray-500 dark:text-gray-400">
              <img class="mx-auto mb-4 w-36 h-36 rounded-full" src="/guests/bdougie.png" alt="bdougie Avatar">
              <h3 class="mb-1 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                  <a href="#">Brian Douglas</a>
              </h3>
              <p>Founder <a href="https://https://opensauced.pizza//">OpenSauced</a></p>
              <ul class="flex justify-center mt-4 space-x-4">
                  <li>
                      <a href="https://x.com/bdougieYO" class="text-[#00acee] hover:text-gray-900 dark:hover:text-white">
                        <Twitter />
                      </a>
                  </li>
                  <li>
                      <a href="https://github.com/bdougie" class="text-gray-900 hover:text-gray-900 dark:hover:text-white dark:text-gray-300">
                        <Github />
                      </a>
                  </li>
              </ul>
          </div>
          <div class="text-center text-gray-500 dark:text-gray-400">
              <img class="mx-auto mb-4 w-36 h-36 rounded-full" src="/guests/luisvilla.jpeg" alt="charlie Avatar">
              <h3 class="mb-1 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                  <a href="#">Luis Villa</a>
              </h3>
              <p>Co-Founder & General <a href="https://tidelift.com/">Tidelift</a></p>
              <ul class="flex justify-center mt-4 space-x-4">
                  <li>
                      <a href="https://x.com/luis_in_brief" class="text-[#00acee] hover:text-gray-900 dark:hover:text-white">
                        <Twitter />
                      </a>
                  </li>
                  <li>
                      <a href="https://github.com/tieguy" class="text-gray-900 hover:text-gray-900 dark:hover:text-white dark:text-gray-300">
                        <Github />
                      </a>
                  </li>
              </ul>
          </div>
          <div class="text-center text-gray-500 dark:text-gray-400">
              <img class="mx-auto mb-4 w-36 h-36 rounded-full" src="/guests/jordanharband.jpeg" alt="charlie Avatar">
              <h3 class="mb-1 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                  <a href="#">Jordan Harband</a>
              </h3>
              <p>Principal <a href="https://astral.sh/">HeroDevs</a>; maintainer of <a href="https://github.com/nvm-sh/nvm">nvm</a>, <a href="https://github.com/ljharb/qs">qs</a> and many more</p>
              <ul class="flex justify-center mt-4 space-x-4">
                  <li>
                      <a href="https://x.com/ljharb" class="text-[#00acee] hover:text-gray-900 dark:hover:text-white">
                        <Twitter />
                      </a>
                  </li>
                  <li>
                      <a href="https://github.com/ljharb" class="text-gray-900 hover:text-gray-900 dark:hover:text-white dark:text-gray-300">
                        <Github />
                      </a>
                  </li>
              </ul>
          </div>
      </div>  
  </div>
</section>
