---
import Embed from "./Embed.astro"
---
<section class="bg-white dark:bg-gray-900">
    <div class="grid max-w-screen-xl px-4 py-8 mx-auto lg:gap-8 xl:gap-0 lg:py-16 lg:grid-cols-12">
        <div class="col-span-12">
            <h1 class="mb-6 text-6xl font-extrabold tracking-tight leading-none md:text-5xl xl:text-8xl dark:text-white">Maintainers read the</br>Cyber Resilience Act (CRA)</h1>
            <h2 class="text-4xl font-extrabold tracking-tight">Tuesdays, July-Sep, 15:00UTC, Zoom/Github</h2>
        </div>
        <div class="mr-auto place-self-center lg:col-span-7">
            <p class="max-w-2xl mb-6 font-light text-gray-500 lg:mb-8 md:text-lg lg:text-xl dark:text-gray-400">For too long, governments have engaged with "the open source community" through large companies and foundations- which represent, at best, a shallow, incomplete perspective of the greater open source community, a majority of which is composed of independent maintainers and small business owners.
            <p class="max-w-2xl mb-6 font-light text-gray-500 lg:mb-8 md:text-lg lg:text-xl dark:text-gray-400">Join us for a series where we dive deep into the latest critical legislation from the EU with the goal of collecting and documenting maintainer feedback.</p>
            <a href="https://lu.ma/lx3hljhl" class="inline-flex items-center justify-center px-5 py-3 mr-3 text-base font-medium text-center text-white rounded-lg bg-primary-medium hover:bg-primary-dark focus:ring-4 focus:ring-primary-light dark:focus:ring-primary-dark">
                Register for the event
                <svg class="w-5 h-5 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
            </a>
            <a href="https://github.com/axodotdev/Maintainers-Read-the-CRA" class="inline-flex items-center justify-center px-5 py-3 text-base font-medium text-center text-gray-900 border border-gray-300 rounded-lg hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 dark:text-white dark:border-gray-700 dark:hover:bg-gray-700 dark:focus:ring-gray-800">
                Check out the Feedback repo
            </a> 
        </div>
        <div class="hidden lg:mt-0 lg:col-span-5 lg:flex">
            <img src="/readtheCRA.svg" />
        </div>                
    </div>
</section>
