---
import Layout from '../layouts/Layout.astro';
import Guests from '../components/Guests.astro';
import Hero from '../components/Hero.astro';
import Description from '../components/Description.astro';
---

<Layout title="Maintainers read the CRA">
	<main>
        <Hero />
        <Guests />
        <Description />
	</main>
</Layout>
